/* -----------div tips------------- */

  div.puzzle {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #000000;
    background-color: #d08770;
    border: dashed 5px #ffffff;
  }

div.example {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #000000;
  background-color: #ffffff;
  border: dashed 5px #a3be8c;
}


div.fyi {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #000000;
  background-color: #ebcb8b;
  border: dashed 5px #ffffff;
}

div.exercise {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 40px;
  color: #000000;
  background-color: #ebcb8b;
  border: dashed 5px #ffffff;
}

div.note {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 40px;
  color: #000000;
  background-color: #e5e9f0;
  border: dashed 5px #ffffff;
}


div.apply {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px center;
  min-height: 120px;
  color: #000000;
  background-color: #b48ead;
  border: dashed 5px #ffffff;
}

div.puzzle {
  background-image: url("../images/fontawesome/solid/puzzle-piece.svg");
}

div.fyi {
 background-image: url("../images/fontawesome/solid/info-circle.svg");
}

div.exercise {
  background-image: url("../images/fontawesome/solid/code.svg");
}

div.note {
  background-image: url("../images/fontawesome/solid/comment.svg");
}

div.example {
  background-image: url("../images/fontawesome/solid/hand-point-right.svg");
}

div.apply {
  background-image: url("../images/fontawesome/solid/wrench.svg");
}




/* Custom boxes */
/* .discussion, .your-turn, .alert {
  padding: 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.discussion{
  border-left: solid 5px var(--baby-blue);
  background-color: var(--baby-blue-30);
}
.discussion:before{
  content: "Discussion";
  font-size: 150%;
  font-weight: bold;
  color: var(--monument);
  margin-bottom: 10px;
}
.your-turn {
  border-left: solid 5px var(--cornhusk);
  background-color: var(--cornhusk-30);
}
.your-turn:before{
  content: "Your turn!";
  font-size: 150%;
  font-weight: bold;
  color: var(--stucco);
  margin-bottom: 10px;
}
.alert {
  border-right: solid 5px var(--peach-quartz);
  background-color: var(--peach-quartz-30);
} */
